<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<extensions>
		<add assembly="NLog.WindowsEventLog" />
	</extensions>

	<targets>
		<target xsi:type="EventLog"
		name="eventLog"
		layout="${longdate}|${level:uppercase=true}|${logger}|${message:withexception=true}"
		machineName="."
		source="Mentor"
		log="Application"
		eventId="${event-properties:EventID:whenEmpty=0}" />
		<target name="logconsole" xsi:type="Console" />
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="eventLog" final="true" />
		<logger name="*" writeTo="logconsole" />
	</rules>

</nlog>