@page "/"

@implements IDisposable

@using System
@using System.Text
@using System.Reflection
@using Dapper;
@using System.Data.SqlClient;
@using Radzen;
@using Radzen.Blazor;
@using Radzen.Blazor.Rendering;
@using Microsoft.Extensions.Configuration;
@using System.Globalization;
@using Microsoft.Extensions.Logging;
@using Microsoft.Extensions.Logging.EventLog;
@using Blazored.SessionStorage;
@using Mentor.Data;

@inject IConfiguration AppConfig
@inject ISessionStorageService SessionStorage
@inject IPermissionService PermissionService;

@inject TooltipService TooltipService
@inject NavigationManager NavigationManager
@inject NotificationService NotificationService
@inject DialogService DialogService

@inject IUserService UserInfoService
@inject IGroupService UserGroupService


@if (AppState.IsNull())
{
    <p>Loading menu..</p>
}
else
{
    <TopMenu AppState="@AppState" IsRendered="@IsRendered"></TopMenu>
}

<div class="content px-4">
    <RadzenRow Style="margin-top:100px">
        <RadzenColumn Size="12" Style="display:block; text-align:center;">
            <RadzenImage Path="images/logo.png" @onclick="AdminAutoLogon" Style="height: 100px; width: 450px; margin-bottom: 30px; border-radius: 20px; margin-top: 200px"></RadzenImage>
            <h2>Welcome to <span style="color: rgb(255,147,86)">Mentor-Match</span></h2>
            <h4>@Today</h4>
        </RadzenColumn>
    </RadzenRow>
</div>
