@page "/login"

@implements IDisposable

@using Dapper;
@using System.Data.SqlClient;
@using Radzen;
@using Radzen.Blazor;
@using Radzen.Blazor.Rendering;
@using System.Text;
@using Microsoft.Extensions.Configuration;
@using System.Globalization;
@using System.Reflection;
@using Blazored.SessionStorage;
@using Mentor.Data;

@inject IConfiguration AppConfig
@inject ISessionStorageService SessionStorage
@inject IPermissionService PermissionService;

@inject TooltipService TooltipService
@inject NavigationManager NavigationManager
@inject NotificationService NotificationService
@inject DialogService DialogService

@inject IUserService UserService;
@inject IUserNotificationService UserNotificationService;


@if (AppState.IsNull())
{
    <p>Loading menu</p>
}
else
{
    <TopMenu AppState="@AppState" IsRendered="@IsRendered"></TopMenu>
}

<RadzenRow Style="margin-top:200px">
    <RadzenColumn Size="3"></RadzenColumn>
    <RadzenColumn Size="6">
        <RadzenCard Style="width: 600px; border-radius: 20px;">
            <div style="padding: 10px; width: 562px; text-align: center">
                <RadzenImage Path="images/logo.png" Style="height: 75px; width: 350px; margin-bottom: 30px; border-radius: 10px; margin-top: 30px;"></RadzenImage>
            </div>
            <RadzenRow Style="padding: 20px;">
                <RadzenColumn Size="4" Style="text-align:right;">
                    User Name / E-mail:
                </RadzenColumn>
                <RadzenColumn Size="8" Style="text-align:center">
                    <RadzenTextBox Change=@(args => OnChange(args, "USER_NAME")) Style="width:250px; align-content:end" />
                </RadzenColumn>
            </RadzenRow>
            <RadzenRow Style="padding: 20px;">
                <RadzenColumn Size="4" Style="text-align:right;">
                    Password:
                </RadzenColumn>
                <RadzenColumn Size="8" Style="text-align:center">
                    <RadzenPassword Change=@(args => OnChange(args, "USER_PASS")) Style="width:250px; align-content:center;" />
                </RadzenColumn>
            </RadzenRow>

            <RadzenRow Style="padding: 20px; text-align: right;">
                @if (AppState.IsNull())
                {
                    <p><em>Loading...</em></p>
                }
                else
                {
                    if (AppState.UserInfo.IsAuthenticated == false)
                    {
                        <RadzenColumn Size="8" Style="align-content:end">
                            <RadzenButton Click=@(args => OnClick("LOGIN")) Text="Login" Style="margin-left: 10px; margin-bottom: 20px; margin-top:20px; width: 150px; background-color: #FF914D; border-radius: 10px; font-size:medium" />
                        </RadzenColumn>
                    }
                    else
                    {
                        <RadzenColumn Size="8" Style="align-content:end">
                            <RadzenButton Click=@(args => OnClick("LOGOUT")) Text="Logout" Style="margin-left: 10px; margin-bottom: 20px; width: 150px; border-radius: 10px; font-size:medium" ButtonStyle="ButtonStyle.Primary" />
                        </RadzenColumn>
                    }
                }
            </RadzenRow>
        </RadzenCard>
    </RadzenColumn>
    <RadzenColumn Size="3"></RadzenColumn>
</RadzenRow>

