@inherits LayoutComponentBase

@using Dapper;
@using System.Data.SqlClient;
@using Radzen;
@using Radzen.Blazor;
@using Radzen.Blazor.Rendering;
@using Microsoft.AspNetCore.Components;
@using Microsoft.Extensions.Configuration;
@using System.Globalization;
@using Microsoft.JSInterop;
@using System.Reflection;
@using Blazored.SessionStorage;
@using Mentor.Data;
@using System.Diagnostics

@inject ISessionStorageService SessionStorage
@inject IConfiguration AppConfig
@inject NavigationManager NavigationManager
@inject NotificationService NotificationService
@inject DialogService DialogService
@inject IJSRuntime JSRuntime

@inject IUserService UserInfoService
@inject IGroupService UserGroupService

<RadzenDialog />
<RadzenNotification />
<RadzenContextMenu />
<RadzenTooltip />

<div class="sidebar">
    <NavMenu/>
</div>

<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>
